*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
    .navbar {
        background-color: white !important;
    }
    .navbar-brand:hover
    .nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
    }
    .nav-link:hover{
    color: rgb(217, 207, 207);
    }
    .btn-outline-custom {
    color: rgb(0, 0, 0);
    border: 2px solid white;
    }
    .btn-outline-custom:hover {
    background-color:rgb(241, 229, 229);
    color: rgb(0, 0, 0);
    }
    
    body {
    background-color: #ffffff;
    }
    .logo {
    height: 40px;
    }
    .cart-icon {
    height: 30px;
    margin-left: 10px;
    }
    .search-bar {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    }
    .pedido-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    }
    .pedido-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    }
    .pedido-box h4 {
    margin-bottom: 15px;
    }
    .form-check {
    margin-bottom: 10px;
    }

.carrito-container {
    position: absolute;
    top: 60px;
    right: 10px;
    background: white;
    border: 2px solid #00008B;
    padding: 20px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .alerta-contenedor {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
  }
  
  .alerta {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    animation: aparecer 0.5s ease, desaparecer 0.5s ease 2.5s forwards;
    font-weight: bold;
  }
  
  @keyframes aparecer {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes desaparecer {
    to { opacity: 0; transform: translateY(-10px); }
  }

  .contador-carrito {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.btn-pagar {
    margin-top: 10px;
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btn-pagar:hover {
    background-color: darkgreen;
}

.btn-vaciar{
    background-color: red;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;

.btn-vaciar:hover{
    background-color: white;
    color: red;
